<div class="email" style = "font-size: 15px; margin-top: 10px; font-weight: bold">
  <p>По всім питанням звертайтесь на пошту</p>
  <%= mail_to  'glushchak02@gmail.com',
               'glushchak02@gmail.com',
               { style: 'color : red;'}
  %>
</div>